<br/>
<table class="table table-hover table-bordered">
	<thead>
    <tr>
    	<th>ID</th>
    	<th>Equation</th>
    	<th>Result</th>
    	<th>Timestamp</th>
    </tr>
  </thead>
 	<tbody id="calculations">
  	<%= render @calculations %>
  </tbody>
</table>
<div id="paginator">
	<h5 align = center>
		<%= paginate @calculations, remote: true %>
	</h5>
</div>

<p class="text-center", class="lead">Please enter your equation!</p>
<br/>

<div id="equation_form">
	<%= render 'equation_form' %>
</div>

