<br/>
<table class="table table-hover table-bordered">
	<thead>
    <tr>
    	<th>ID</th>
    	<th>Equation</th>
    	<th>Result</th>
    	<th>Timestamp</th>
    </tr>
  </thead>
 	<tbody id="calculations">
  	<%= render @calculations %>
  </tbody>
</table>
<h5 align = center>
  <div id="paginator">
		<%= paginate @calculations, remote: true %>
  </div>
</h5>

<p class="text-center", class="lead">Please enter your equation!</p>
<br/>

<div class="error" id="error">
  <% if flash[:error] %>
    <%= flash[:error] %>
  <% end %>
</div>
<div id="equation_form">
  <%= render 'equation_form', new_calculation: @new_calculation %>
</div>

